Source: facebook-notify
Section: net
XS-Python-Version: all
Priority: optional
Maintainer: John Stowers <john.stowers@gmail.com>
Build-Depends: debhelper, python, cdbs
Build-Depends-Indep: python-central
Standards-Version: 3.8.0
Homepage: http://www.github.com/~nzjrs

Package: facebook-notify
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-gobject, python-gtk2, python-notify, python-dbus, python-simplejson, python-gtkmozembed
XB-Python-Version: ${python:Versions}
Description: PyGtk+ Translation Helper - Translates Selected Text
